body{
    background-color: seashell
}

h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    margin: 0px;
}

h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    margin: 0px;
}

hr{
    margin: 0px;
    outline-color: darkcyan;

}

img{
    border: 8px solid;
    border-radius: 50%;
    padding: 5px;
    height: 250px;
    width:250px;
    opacity: .8;

}


ul{
    list-style-type: none;
    margin: 0px;
    padding:0px; 
    overflow: hidden;
    background: slategray;
}


ul li{ 
    float: center;

}

li a{
    color: azure;
    text-align: center;
    padding: 16px;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    display: block;

}

li a:hover{
    background: silver;
    font-family: Arial, Helvetica, sans-serif;
}

.SkillList{
    list-style-type: none;
    margin: 0px;
    padding:0px;
   
}

p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}
